.rules-banner {
    width: 100%;
    height: 600px;
    background-size: cover;
    background: url('./images/bg.png') center no-repeat;
}

.rules-box {
    padding: 18px 0;
    height: 791px;
    background: #fff;
}

.rule-title {
    padding: 25px 0 8px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

.rules-box-protol {
    .rule-news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        h2, p {
            margin: 0;
        }
        h2 {
            font-size: 16px;
            color: #333;
        }
        p {
            font-size: 14px;
            color: #999;
        }
    }
    .rule-news-line {
        border-top: 1px solid hsla(0, 0%, 60%, .15);
        margin: 5px 0;
    }
}